# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log

# Virtual environment
.venv/
env/
venv/

# Databricks local bundle state
.databricks/
*.env   # e.g. .databricks.env with secrets

# IDE/editor
.vscode/
*.code-workspace
.idea/

# Jupyter
.ipynb_checkpoints/
scratch/

# OS files
.DS_Store
Thumbs.db